.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.subtotal__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
