.wishlist {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.wishlist__info {
  padding-left: 20px;
}

.wishlist__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.wishlist__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.wishlist__rating {
  display: flex;
}

.wishlist__title {
  font-size: 17px;
  font-weight: 800;
}

.basket__button {
  margin-left: 5px;
}
